#!/usr/sbin/nft -f

define SSH_PORT = __SSH_PORT__

table inet gatekeeper {
  set allowed_v4 {
    type ipv4_addr
    flags interval
    elements = { __INITIAL_IPV4__ }
  }

  set allowed_v6 {
    type ipv6_addr
    flags interval
    elements = { __INITIAL_IPV6__ }
  }

  chain input {
    type filter hook input priority -5; policy accept;
    ct state established,related accept
    iifname "lo" accept
    tcp dport $SSH_PORT ip saddr @allowed_v4 accept
    tcp dport $SSH_PORT ip6 saddr @allowed_v6 accept
    tcp dport $SSH_PORT reject
  }
}
